body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f0d8dc;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    min-height: 100vh;
}

.form-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    width: 400px;
}

.form-container h1 {
    margin-bottom: 24px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    background-color: #f0d8dc;
    color: #000;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #eea7b3;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.8s;
}

button:hover {
    background-color: #f0d8dc;
}