body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f0d8dc;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgb(236, 213, 213);
    width: 320px;
}

.login-container h1 {
    margin-bottom: 24px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    background-color: #dfbfbf;
    color: #fff;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #ffb9dc;
    border: none;
    border-radius: 8px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #cf76a7;
}